{% extends 'tienda/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Acerca de mí: Marcos Martínez</h1>
    
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/marcos_martinez.jpg' %}" alt="Marcos Martínez" class="img-fluid rounded w-75">
        </div>
        <div class="col-md-6">
            <p class="lead">
                Mi nombre es <strong>Marcos Martínez</strong>, a día de hoy tengo 20 años. Soy técnico electromecánico.
                Actualmente ejerciendo el labor de soporte técnico e instalador, decidí realizar el curso de Python ofrecido por Coderhouse. A su vez, me encuentro cursando la carrera de Inteligencia Artificial en la UNAHUR.
            <p class="lead">
                Gracias por visitar mi página!
        </div>
    </div>
{% endblock %}
