{% extends 'tienda/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Crear Cliente</h1>

    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Crear Cliente</button>
    </form>

    <a href="{% url 'base' %}" class="btn btn-primary mt-3">Volver al inicio</a>
    <a href="{% url 'listar_clientes' %}" class="btn btn-info mt-3">Ver lista de clientes</a>
</div>
{% endblock %}
